
/* meyer reset -- http://meyerweb.com/eric/tools/css/reset/ , v2.0 | 20110126 | License: none (public domain) */
/* =========== */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    ol, ul { list-style: none; }
    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: ''; content: none; }
    table { border-collapse: collapse; border-spacing: 0; }

    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section { display: block; }


/* styles */
/* ====== */

    /* headings */
    #text h1, #text h2, #text h3 { font-weight: bold; }
    #text h1 { font-size: 2.2857em; /*32 / 14*/ line-height: 1.3125em; /*42 / 32*/ letter-spacing: .01em; }
    #text h2 { font-size: 1.7142857em; /*24 / 14*/ line-height: 1.75em; /*42 / 24*/ margin-top: 1.75em; /*42 / 24*/ margin-bottom: .79167em; /*19 / 24*/ }    
    #text h3 { font-size: 1.5em; /*21 / 14*/ margin-top: 2em; /*42 / 21*/ margin-bottom: 1em; /*21 / 21*/ }
    #text h4 { font-size: 1.285714em; /*18 / 14*/ font-weight: bold; line-height: 1.1667em; margin-top: 2.33em; /*42 / 18*/ margin-bottom: 1.1667em; /*21 / 18*/ }

    /* sections */
    #text section { margin-top: 1.5em !important; padding-top: 1.5em !important; }

    /* links */
    #text a { text-decoration: none; }
    #text a:hover, a:active { text-decoration: underline; }

    /* block spacing */
    #text p, #text blockquote, #text div { margin-bottom: 1.5em; }
    #text h1, #text h2, #text h3, #text h4, #text h5, #text h6 { margin-bottom: 1.5em; }
    #text div.separator { padding-top: 1.5em; padding-bottom: 1.5em; }
    #text div.readableLargeImageContainer, #text div.readableLargeObjectContainer, #text figure { margin-bottom: 1em; margin-top:1em; }
    
    /* blockquote */
    #text blockquote { font-style: italic; border-left: 5px solid; margin-left: 2em; padding-left: 1em; }
    
    /* lists */
    #text ul, #text ol { margin: 0 0 1.5em 1em;    }
    #text ol li { list-style-type: decimal; list-style-position: inside; }
    #text ul li { list-style-type: disc; list-style-position: inside; }

    /* tables */
    #text table { margin-bottom: 1.415em; /*18 /13*/ font-size: .92857em; /*13 / 14*/ /* width: 100%; */ }
    #text thead { font-weight:bold; letter-spacing: .01em; }
    #text thead th, #text tfoot th { padding: .2em .2em .2em .6em; text-transform: uppercase; }
    #text th { text-align: left; }
    #text td { vertical-align: top; padding: .2em .2em .2em .6em; }
    
    /* formatting */
    #text em, #text i { font-style: italic; }
    #text strong, #text b { font-weight: bold; }
    
    /* preformatted */
    #text pre, #text code, #text tt { font-size: .875em; /*12 / 14*/ line-height: 1.75em; /*21 / 12*/ }
    
    /* some fixes */
    #text h1 { margin-bottom: 1em; }
    #text h1 + h2 { margin-top: .2em; margin-bottom: 2.15em; font-size: .875em; }
    #text p + ul, #text h2 + ul, #text p + ol, #text h2 + ol { margin-top:-1em; }
    #text h3 + ul, #text h4 + ul, #text h5 + ul, #text h6 + ul, #text h3 + ol, #text h4 + ol, #text h5 + ol, #text h6 + ol { margin-top: .5em; }
    #text h2, #text h3 { margin-bottom: .75em; }
    #text hr { border-top: none; border-right: none; border-bottom: 1px solid; border-left: none; }    
    #text pre code, #text code pre { font-size: 1.15em; }
    